<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Push App Josue
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="borrarTodosLosMensajes()" color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list>
    <ion-list-header>
      <ion-label>UserId dato por la suscripcion: </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>{{pushService.userId}}</ion-label>
    </ion-item>

    <ion-list-header>
      <ion-label>Pushes</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let mensaje of pushService.mensajes">
      <ion-label>
        <h3>{{mensaje.title}} </h3>
        <p>{{mensaje.body}}</p>
        <p>
          {{mensaje.additionalData | json}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
